{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Contact
{% endblock %}

{% block body %}
	<h1>Contactez-nous</h1>

	{{ form_start(form) }}

	{{ form_row(form.nameVisitor) }}
	{{ form_row(form.email) }}
	{{ form_row(form.content) }}

	<button type="submit">Envoyer</button>

	{{ form_end(form) }}
{% endblock %}
